.stranded{
    border-style:solid;
    border-color: black;
   
    padding: 50px 30px 50px 80px;
}

.stranded2{
     border-style:solid;
    border-color: black;
    
    padding: 50px 30px 50px 80px;
   
}